// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$grey500: #0A0A0A;
$grey400: #414141;
$grey300: #999999;
$grey200: #DBDBDB;
$grey100: #F9F9F9;

$green400: #168069;
$green300: #26D8B2;
$green200: #99E8D7;
$green100: #CBF7EE;
