<div>
  <%= cl_image_tag sportsession.sport_category.photo.key, height: 100, width: 200,crop: :fill %>
  <div class="map-popup-content d-flex flex-column">
    <h6><%= sportsession.title %></h6>
    <p><%= sportsession.venue.name %></p>
    <%= link_to "Show session", sport_session_path(sportsession), class:"btn btn-primary btn-sm" %>
  </div>
</div>
