<div class="position-relative" data-controller="map-list-toggle">
  <div class="toggle-container d-flex">
    <div data-map-list-toggle-target="map" class="map-container technically-gone">
      <div
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
          class="map-container"
        >
      </div>
    </div>
    <div data-map-list-toggle-target="list" class="pt-3 mb-5 container list-container">
      <% if @sport_sessions.empty? %>
        <p>Sorry, no sessions posted yet! Post one here: <%= link_to "New Sport Session", new_sport_session_path %></p>
      <% else %>
        <% @sport_sessions.sort_by(&:start_time).each do |session| %>
          <%= render "session_card", session: session %>
        <% end %>
      <% end %>
    </div>
    <!-- PUT THE MAP IN HERE -->
  </div>
  <button data-action="click->map-list-toggle#fire" data-page="list" data-map-list-toggle-target="button" class="btn btn-primary position-fixed start-50 translate-middle shadow" style="bottom: 73px;">
    <i class="far fa-map"></i> Show Map
  </button>
</div>
