<div id="list" class="my-3">
  <% if @sport_sessions.empty? %>
    <p>Sorry, no sessions posted yet! Post one here: <%= link_to "New Sport Session", new_sport_session_path %></p>
  <% else %>
    <% @sport_sessions.sort_by(&:start_time).each do |session| %>
      <%= render "session_card", @session: session %>
    <% end %>
  <% end %>
</div>
