<div class="container">
  <p>
      <%= @sport_session.title %> - Starting at <%= @sport_session.start_time.strftime("%a, %d.%m.%Y, %H:%M") %> until <%= @sport_session.start_time.strftime("%H:%M") %>
  </p>
</div>
