<div class="menubar">
  <div class="container d-flex justify-content-between">
    <%= link_to root_path, class:"menu-item" do %>
      <i class="fa-solid fa-magnifying-glass"></i>
      <p>
        Home
      </p>
    <% end %>
    <%= link_to sport_sessions_path, class:"menu-item" do %>
      <i class="fas fa-user-friends"></i>
      <p>
        My Sessions
      </p>
    <% end %>
    <%= link_to chatrooms_path(@chatrooms), class:"menu-item" do %>
      <i class="fa-regular fa-comment-dots"></i>
      <p>
        Chat
      </p>
    <% end %>
    <%= link_to new_sport_session_path, class:"menu-item" do %>
      <i class="fa-solid fa-plus"></i>
      <p>
        Add Session
      </p>
    <% end %>
  </div>
</div>
<!--
1. Home to root path
2. My Sessions
3. Chat
4. Add a Session
-->
