.btn {
  font-weight: bold;
}

.btn-primary {
  color: $grey100;
  :hover {
    color: $grey100!important;
  }
  :active {
    color: $grey100!important;
  }
}

.btn-text-white {
  color: $grey100!important;
  transition: color 0s;
}
