.mapboxgl-popup-content {
  padding: 0px;
  border-radius: 1em;
  overflow: hidden;
}

.mapboxgl-popup-close-button {
 position: fixed;
 top: 4px;
 right: 4px;
 background-color: rgba(255, 255, 255, 0.667);
 border-radius: 50%;
 padding: 0px 6.9px 1px 6.9px;
}

.map-popup-content {
  padding: 0.5em;
  max-width: 200px;
}
