$menu-item-height: 75px;
$menu-item-width: 75px;

.menubar {
  background-color: $green300;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  z-index: 1000;
  height: $menu-item-height;
}

a.menu-item {
  height: $menu-item-height;
  width: $menu-item-width;
  padding: 20px 0 4px 0;
  color: $body-color;
  text-decoration: none;
  text-align: center;
  border: 0px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  i {
    font-size: 30px;
  }
  p {
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
  }
}

.menubar-spacer {
  height: $menu-item-height;
  width: 100vw;
}
