a:has(.session-card) {
  text-decoration: none;
}

.session-card {
  background-color: white;
  .location-name {
    margin-bottom: 0px!important;
  }
  p {
    margin-bottom: 0.5em;
  }
  h5 {
    margin-bottom: 0em;
  }
  .card-header {
    padding: 0.5em 0.5em 0em 0.5em;
    background-color: white;
    border-bottom: none;
    position: relative;
    img {
      border-top-right-radius: 0.5em;
      border-top-left-radius: 0.5em;
      height: 140px;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
    .btn-sm {
      position: absolute;
      top: 1.5em;
      right: 1.5em;
    }
  }
}
