.skill-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill-item {
  flex: 0 0 30%;
}

.skill-selector {
  position: absolute;
  transform: scale(0);
}

.skill-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  text-transform: capitalize;
  text-align: center;
  padding: 16px 12px;
  border: 1px solid #EAEAEA;
  border-radius: $border-radius;
  background-color: var(--bs-body-bg);
}

.skill-selector:checked + label {
  color: white !important;
  background-color: $primary;
  font-weight: bold;
}

#sport_session_venue_id, #sport_session_sport_category_id {
  padding: 1rem 2.25rem 1rem 0.75rem
}

input.form-control.string.required.flatpickr-input.flatpickr-mobile {
  padding: 1rem 0.75rem;
}
